{% extends 'orders/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% csrf_token %}
<form method="POST" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {{ form.order_name|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.customer|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.phone_number|as_crispy_field }}
    </div>
    <div class="form-group date">
        {{ form.deadline_date|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.price|as_crispy_field }}
    </div>
    <div>
        <button type="submit" name="add" id="add" value="Add" class="btn btn-primary" >Add</button>
    </div>
</form>
{% endblock %}