<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
  <script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.ru.min.js" %}" charset="UTF-8"></script>

  <title>LaserCut CRM</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <p> </p>
    </div>

    <div class="row">
      <div class="col-md-2" id="menu">
        <div class="container-fluid btn-group-vertical btn-group-lg">
          <button id="btn_addorder" class="btn btn-success btn-lg btn-block" data-toggle="modal"
            data-target="#orderAddModal">Add order</button>
          <button id="tasks" class="btn btn-light btn-lg btn-block">All orders</button>
          <button id="refresh" class="btn btn-light btn-lg btn-block">Refresh</button>
        </div>
      </div>

      <div class="col-md-10" id="content">
        {% if latest_orders_list %}
        <table class="table table-striped table-hover table-bordered rounded">
          <thead class="thead-dark">
            <tr>
              <th scope="col">№</th>
              <th scope="col">Order</th>
              <th scope="col">Customer</th>
              <th scope="col">Status</th>
              <th scope="col">Contacts</th>
              <th scope="col">Deadline</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for order in latest_orders_list %}
            <th scope="row">{{ order.id }}</th>
            <td><a href="{% url 'orders:detail' order.id %}">{{ order.order_name }}</a></td>
            <td>{{ order.customer }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.phone_number }}</td>
            <td>{{ order.deadline_data }}</td>
            <td>{{ order.price }}</td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
        {% else %}
        <p>No orders are available.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="orderAddModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalTitle">New order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% block addform %}
          {% endblock %}
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="submit" id="add" class="btn btn-primary" name="submit">Add</button> -->
        </div>
      </div>
    </div>
  </div>
  <script src="{% static "js/methods.js" %}"></script>

</body>

</html>