{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal-header">
        <h3 class="modal-title">Order details</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="">
            Name: {{ order.name }}
        </div>
        <div class="">
            Customer: {{ order.customer }}
        </div>
        <div class="">
            Status: {{ order.status }}
        </div>
        <div class="">
            Deadline: {{ order.deadline_date }}
        </div>
        <div class="">
            Days left: {{ order.days_left }}
        </div>
        <div class="">
            Price: {{ order.price }}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
{% endblock %}